{# Bootstrap3 template with sonata_seo helpers enabled. Requires sonata-project/seo-bundle and c33s-toolkit/bootstrap3-bundle #}
{% extends "C33sToolkitLayoutBundle::bootstrap3.html.twig" %}

{% block html_attributes %}{{ parent() }} {{ sonata_seo_html_attributes() }}{% endblock %}
{% block head_attributes %}{{ parent() }} {{ sonata_seo_head_attributes() }}{% endblock %}
{% block meta_title_tag %}{{ sonata_seo_title() }}{% endblock %}
{% block meta_extra %}
    {{ parent() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
{% endblock %}
