{# Bootstrap3 template for sonata page projects. Requires sonata-project/page-bundle and c33s-toolkit/bootstrap3-bundle #}
{% extends "C33sToolkitLayoutBundle::sonata_seo/bootstrap3_sonata_seo.html.twig" %}

{% block sonata_page_stylesheets %}
    {% for stylesheet in sonata_page.assets.stylesheets %}
        <link rel="stylesheet" href="{{ asset(stylesheet) }}" media="all">
    {% endfor %}
{% endblock %}

{% block sonata_page_javascripts %}
    {% for js in sonata_page.assets.javascripts %}
        <script src="{{ asset(js) }}"></script>
    {% endfor %}
{% endblock %}

{% block body_attributes %}{{ parent() }} class="sonata-bc"{% endblock %}

{% block sonata_page_top_bar %}{% include 'C33sToolkitLayoutBundle::embed/sonata_page_top_bar.html.twig' %}{% endblock %}

{% block sonata_page_asset_footer %}
    {% if page is defined %}
        {% if page.javascript is not empty %}
            <script>
                {{ page.javascript|raw }}
            </script>
        {% endif %}
        {% if page.stylesheet is not empty %}
            <style>
                {{ page.stylesheet|raw }}
            </style>
        {% endif %}
    {% endif %}
    {#
        These includes can be done only at this point as all blocks are loaded,
        Limition : this does not work if a global page is loaded from an ESI tag inside a container block
    #}
    {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
    {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
{% endblock %}
