{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html {% block html_attributes %}lang="{{ app.request.locale }}" {% if c33s_core_config.app.hinclude %}xmlns:hx="http://purl.org/NET/hinclude"{% endif %}{% endblock %}>
{% endblock %}
    {% block sonata_page_head %}
        <head {% block head_attributes %}{% endblock %}>
            {% block head %}
                {% if c33s_core_config.app.hinclude %}
                    {% javascripts output='media/generated/js/hinclude.js' combine=true
                        '%kernel.root_dir%/../vendor/mnot/hinclude/hinclude.js'
                        %}
                        <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endif %}
                {% block meta_title_tag %}{% endblock %}

                <meta name="viewport" content="{% block meta_viewports %}width=device-width, initial-scale=1.0{% endblock %}" />
                {% block meta_extra %}{% endblock %}
                {% block google_webmaster_tools %}
                    {% include 'C33sToolkitLayoutBundle::embed/google_webmaster_tools.html.twig' %}
                {% endblock %}
                {% block sonata_page_stylesheets %}{% endblock %}
                {% block stylesheets %}{% endblock stylesheets %}
                {% block head_icons %}
                    <link rel="shortcut icon" type="image/x-icon" href="{% block head_favicon %}{{ asset('favicon.ico') }}{% endblock %}" />
                    <link rel="apple-touch-icon" href="{% block head_apple_touch_icon %}{{ asset('apple-touch-icon.png') }}{% endblock %}" />
                {% endblock %}
                {% block sonata_page_javascripts %}{% endblock %}
                {% block upper_javascripts %}
                    {% if c33s_core_config.app.use_cdn %}
                        <!--[if lt IE 9]>
                        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                        <![endif]-->
                    {% else %}
                        <!--[if lt IE 9]>
                        {% javascripts output='media/generated/js/html5shiv.js' combine=true
                            '%kernel.root_dir%/../vendor/afarkas/html5shiv/src/html5shiv.js'
                        %}
                        <script src="{{ asset_url }}"></script>
                        {% endjavascripts %}
                        <![endif]-->
                    {% endif %}
                {% endblock %}

                {% block google_analytics %}
                    {% include 'C33sToolkitLayoutBundle::embed/google_analytics.html.twig' %}
                {% endblock %}
            {% endblock %}
        </head>
    {% endblock %}
    {% block body_tag %}
    <body {% block body_attributes %}{% if c33s_core_config.app.use_scrollspy %}data-spy="scroll" data-target=".navbar-scrollspy"{% endif %}{% endblock %}>
    {% endblock %}
        {% block body %}
            <noscript>{% block noscript %}{% endblock %}</noscript>

            {% block sonata_page_top_bar %}{% endblock %}
            {% block header %}{% endblock %}
            {% block messages %}{% include 'C33sToolkitLayoutBundle::embed/messages.html.twig' %}{% endblock %}

            {% block content_pre %}{% endblock %}
            {% block sonata_page_container %}{% endblock %}
            {% block content %}{% endblock %}
            {% block content_post %}{% endblock %}

            {% block footer %}
                {% block footer_tag_open %}<footer class="footer">{% endblock %}
                    {% block footer_content %}
                        {% block footer_copyright %}&copy;{% endblock %}
                        {% block footer_company %}{{ c33s_core_config.app.name }}{% endblock %}
                        {% block footer_predate %}{% endblock %}
                        {% block footer_date %}{{ "now"|date("Y") }}{% endblock %}
                        {% block footer_postdate %}{% endblock %}
                    {% endblock %}
                {% block footer_tag_close %}</footer>{% endblock %}
            {% endblock %}

            {% block body_end %}{% endblock %}
        {% endblock body %}
        {% block javascripts %}
{#             {{ render_assets('js') }}#}
{#             {{ render_assets('inline_js') }}#}
        {% endblock %}
        {% block sonata_page_asset_footer %}{% endblock %}
    </body>
</html>
